*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #424141;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container{
    display: grid;
    grid-template: 
        "dashboard formularios" 100vh /
            auto       70%;
}

.dashboard{
    grid-area: dashboard;
    background-color: #6C476C;
    text-align: center;
}

.dashboard h1{
    margin: 40px;
    font-size: 40px;
    color: white;
    
}

.options_menu a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.options_menu .opcion{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularios{
    grid-area: "formularios";
    width: 400px;
    border-radius: 10px;
    background-color: white;
}

.formularios h1{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

.formularios .formulario{
    padding: 40px;
    box-sizing: border-box;
}

.formulario .group-form{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.group-form input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.group-form label{
    position: absolute;
    left: 5px;
    color: #5b5757;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

select{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #5b5757;
}

button[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #6C476C;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

.opcion:hover{
    animation: shadow-pulse 1000ms 1;
    background-color: #B267B2;

}